


<div class=" banner-part3">
    <div class="overlay plans-i">
        <div class="container">
            <div class="content-box">

            </div>
        </div>
    </div>
</div>




<section class="plans-part comm_padd">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box box1">
                        <h4><i class="fas fa-gem mr-3"></i>Basic</h4>
                        <p><b>50</b> Participants, <b>49</b> Video Feeds</p>

                        <div class="row m-0 display-block back-white">
                            <h3 class="font-xxl pt-5 pb-3">Free</h3>
                            <label>/month (annually)</label>

                            <ul>
                                <li><i class="fas fa-check"></i> HD Video & HD Audio</li>
                                <li><i class="fas fa-check"></i> Unlimited 1-1 Call</li>
                                <li><i class="fas fa-check"></i> Unlimited Number of Meetings</li>
                                <li><i class="fas fa-check"></i> Access From Any Device</li>
                                <li><i class="fas fa-check"></i> Up to 70 Minutes Per Meeting</li>
                                <li><i class="fas fa-check"></i> Screen Sharing, Chats, Reports/Analytics, Recording
                                </li>
                                <li><i class="fas fa-check"></i> 1-Click Meetings, No Client Downloads</li>
                                <li><i class="fas fa-check"></i> Youtube and Facebook Live Integration</li>
                                <li><i class="fas fa-check"></i> 512MB Cloud Recording/Storage</li>
                                <li><i class="fas fa-check"></i> VoIP Dial-In</li>
                                <li class=" dropdown dropdown1">
                                    <a class="nav-link " href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-check"></i> Plan Options & Add-Ons<i
                                            class="fas fa-exclamation-circle"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu1" aria-labelledby="navbarDropdown">

                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <div class="dropdown dropdown2">
                                            <a class="dropdown-item" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                Additional 50 participants ($20/month - annually) <i
                                                    class="fas fa-caret-down"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu2"
                                                aria-labelledby="dropdownMenuButton">
                                                <ul>
                                                    <li><i class="fas fa-check"></i> The GVC Lite Option allows users to
                                                        integrate Grandstream’s GVC3200 Series of Video Conferencing
                                                        Devices with their Basic account. Users enjoy all Basic plan
                                                        features and are upgraded to unlimited meetings (up to 3 hours
                                                        per group session), unlimited Webinars, up to 2GB storage, VoIP
                                                        & Toll Dial-In, and group account admin & billing. GVC devices
                                                        can be purchased from one of Grandstream’s authorized channel
                                                        partners.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>

                                    </div>
                                </li>

                            </ul>

                            <div class="btn-box">
                                <a routerLink= "/signup">Sign Up Now!</a>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="box box2">
                        <h4><i class="fas fa-user-tie mr-3"></i>Pro</h4>
                        <p><b>50</b> Participants, <b>49</b> Video Feeds</p>

                        <div class="row m-0 display-block back-white">
                            <h3 class="font-xxl pt-5 pb-3">Free</h3>
                            <label>/month (annually)</label>

                            <ul>
                                <li><i class="fas fa-check"></i> HD Video & HD Audio</li>
                                <li><i class="fas fa-check"></i> Unlimited 1-1 Call</li>
                                <li><i class="fas fa-check"></i> Unlimited Number of Meetings</li>
                                <li><i class="fas fa-check"></i> Access From Any Device</li>
                                <li><i class="fas fa-check"></i> Up to 70 Minutes Per Meeting</li>
                                <li><i class="fas fa-check"></i> Screen Sharing, Chats, Reports/Analytics, Recording
                                </li>
                                <li><i class="fas fa-check"></i> 1-Click Meetings, No Client Downloads</li>
                                <li><i class="fas fa-check"></i> Youtube and Facebook Live Integration</li>
                                <li><i class="fas fa-check"></i> 512MB Cloud Recording/Storage</li>
                                <li><i class="fas fa-check"></i> VoIP Dial-In</li>
                                <li class=" dropdown dropdown1">
                                    <a class="nav-link " href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-check"></i> Plan Options & Add-Ons<i
                                            class="fas fa-exclamation-circle"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu1" aria-labelledby="navbarDropdown">

                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <div class="dropdown dropdown2">
                                            <a class="dropdown-item" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                Additional 50 participants ($20/month - annually) <i
                                                    class="fas fa-caret-down"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu2"
                                                aria-labelledby="dropdownMenuButton">
                                                <ul>
                                                    <li><i class="fas fa-check"></i> The GVC Lite Option allows users to
                                                        integrate Grandstream’s GVC3200 Series of Video Conferencing
                                                        Devices with their Basic account. Users enjoy all Basic plan
                                                        features and are upgraded to unlimited meetings (up to 3 hours
                                                        per group session), unlimited Webinars, up to 2GB storage, VoIP
                                                        & Toll Dial-In, and group account admin & billing. GVC devices
                                                        can be purchased from one of Grandstream’s authorized channel
                                                        partners.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>

                                    </div>
                                </li>

                            </ul>
                            <div class="btn-box">
                                <a routerLink= "/signup">Sign Up Now!</a>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-lg-4 col-md-6">
                    <div class="box box3">
                        <h4><i class="fas fa-balance-scale mr-3"></i>Business</h4>
                        <p><b>50</b> Participants, <b>49</b> Video Feeds</p>


                        <div class="row m-0 display-block back-white">
                            <h3 class="font-xxl pt-5 pb-3">$9.99</h3>
                            <label>/month (annually)</label>

                            <ul>
                                <li><i class="fas fa-check"></i> HD Video & HD Audio</li>
                                <li><i class="fas fa-check"></i> Unlimited 1-1 Call</li>
                                <li><i class="fas fa-check"></i> Unlimited Number of Meetings</li>
                                <li><i class="fas fa-check"></i> Access From Any Device</li>
                                <li><i class="fas fa-check"></i> Up to 70 Minutes Per Meeting</li>
                                <li><i class="fas fa-check"></i> Screen Sharing, Chats, Reports/Analytics, Recording
                                </li>
                                <li><i class="fas fa-check"></i> 1-Click Meetings, No Client Downloads</li>
                                <li><i class="fas fa-check"></i> Youtube and Facebook Live Integration</li>
                                <li><i class="fas fa-check"></i> 512MB Cloud Recording/Storage</li>
                                <li><i class="fas fa-check"></i> VoIP Dial-In</li>
                                <li class=" dropdown dropdown1">
                                    <a class="nav-link " href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-check"></i> Plan Options & Add-Ons<i
                                            class="fas fa-exclamation-circle"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu1" aria-labelledby="navbarDropdown">

                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>
                                        <div class="dropdown dropdown2">
                                            <a class="dropdown-item" id="dropdownMenuButton" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                Additional 50 participants ($20/month - annually) <i
                                                    class="fas fa-caret-down"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu2"
                                                aria-labelledby="dropdownMenuButton">
                                                <ul>
                                                    <li><i class="fas fa-check"></i> The GVC Lite Option allows users to
                                                        integrate Grandstream’s GVC3200 Series of Video Conferencing
                                                        Devices with their Basic account. Users enjoy all Basic plan
                                                        features and are upgraded to unlimited meetings (up to 3 hours
                                                        per group session), unlimited Webinars, up to 2GB storage, VoIP
                                                        & Toll Dial-In, and group account admin & billing. GVC devices
                                                        can be purchased from one of Grandstream’s authorized channel
                                                        partners.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a class="dropdown-item" href="#">Additional 50 participants ($20/month -
                                            annually)</a>

                                    </div>
                                </li>

                            </ul>
                            <div class="btn-box">
                                <a routerLink= "/signup">Sign Up Now!</a>

                            </div>
                        </div>


                    </div>
                </div>







            </div>
        </div>
    </div>
</section>





