<section class="sect1-part recordings-part contact_comm-part contacts-part">
    <div class="container-fluid">
        <div class="left-box" style= "background-color: '#eaf1f4';">

            <div class="nav-box">
                <ul>
                    <li><a routerLink= "/plans/all" class="active">All Plans <span>{{allPlans.length}}</span></a></li>
                    <li><a routerLink='/plans/about-expire'>About to Expire<span>{{aboutExpire.length}}</span></a></li>
                    <li><a routerLink='/plans/expired'>Expired<span>{{expired.length}}</span></a></li>
                </ul>
            </div>


        </div>
        <div class="right-box">
            <div class="top_content-box">
                <div class="nav_btn-box">
                    <ul>
                        <li><a routerLink='/plans/buy'><i class="fas fa-shopping-cart"></i> Buy a New Plan </a></li>
                    </ul>
                </div>


                <div class="search-box">
                    <input type="search" (keyup)="filter($event)" placeholder="Current Plan/Expiration date/Subscription date">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="content-box">
                <div class="sm-box" style= "padding:0px">

                    <div class="table-responsive" style="height: 100%;">
                        <table class="table table-striped">
                            <thead>
                                <tr style= "background-color: '#eaf1f4';">
                                    <th scope="col" style= "background-color: '#eaf1f4';"><input type="checkbox">Current Plan</th>
                                    <th scope="col" style= "background-color: '#eaf1f4';">Owner</th>
                                    <th scope="col" style= "background-color: '#eaf1f4';">Expiration Date</th>
                                    <th scope="col" style= "background-color: '#eaf1f4';">Subscription Date</th>
                                    <th scope="col" style= "background-color: '#eaf1f4';">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor= "let plan of filteredAllPlans; let i = index" >
                                    <th scope="row"><label><input type="checkbox" class="mr-1">{{plan.type}}</label></th>
                                    <td><label>{{owner}}</label></td>
                                    <td><label>{{plan.expiration_at}}</label></td>
                                    <td><label>{{plan.subscription_at}}</label></td>
                                    <td><label [class]= "plan.status?'badge badge-success': 'badge badge-danger'">{{plan.status? 'activated': 'unActivated'}}</label></td>
                                </tr>

                                <div class="empty_show_msg-box" *ngIf= "!allPlans.length">
                                    <p >You have a Free Basic Plan. To upgrade/subscribe to a different plan, please press Buy Now Button</p>
                                    <a routerLink='/plans/buy'>Buy Now</a>

                                </div>
                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
        </div>
    </div>

    


    <!-- feed_back -->
    <div class="modal fade comm_popup-box feed_back-popup_box" id="feed_back_box" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="meet_now_form-box">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Please enter your feedback"></textarea>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="custom-file" for="customFile">
                                        <input type="file" class="d-none" id="customFile">
                                        <label><i class="fas fa-cloud-upload-alt"></i> Upload Attachment (Up to 5 can be uploaded)</label>
                                        <p>( File type: tar, zip, rar, jpg, png, mp4, avi, wav, txt, doc, pdf, gz )</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row create_extra_email_boxes">
                                        <div class="col-12">
                                            <div class="mini-box mini-box1 "> <label class=" float-left"><sup>*</sup> Please enter your email address so that we can contact you in time.</label></div>
                                        </div>
                                        <div class="col-8">
                                            <div class="mini-box mini-box2">
                                                <input type="email" class="form-control">

                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <a href="#" class="add_email_box-btn"><i class="fa fa-plus"></i> Add</a>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class=" form-group-btn mt-4">
                                    <a href="#" data-dismiss="modal">Cancel</a>
                                    <input type="submit" value="Submit">

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- feed_back -->




</section>
