<section class="account-part forgot_password-part">
    <div class="header-part">
        <div class="container-fluid">
            <div class="nav-box">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#"> <img style= "width:212px" src="../../../assets/theme/admin-panel/account/img/logo_horizontal.png" alt="none"
                            class="img-fluid"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="myicon"><i class="fas fa-bars"></i></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item">
                                <a class="nav-link" routerLink="/join-meeting">Join Meeting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/login">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link last-link" routerLink="/signup">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <select class="custom-select lang-sel">
                                    <option>English</option>
                                    <option>Chinese</option>
                                    <option>Russian</option>
                                </select>
                            </li>

                        </ul>

                    </div>
                </nav>

            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="footer-part">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="box"> <img src="../../../../assets/theme/admin-panel/account/img/logo_horizontal.png" alt="none" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-12 mt-3">
                    <div class="box">
                        <p>©2021 Grandstream Networks, Inc. All rights reserved.</p>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#" class="last-link">Cookie Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-alert-view></app-alert-view>