<section class="sect1-part meeting_page-part meeting_main_page-part">
    <div class="container-fluid">
        <div class="left-box" style= "background-color: '#eaf1f4';">
            <div class="top_btn-box">
                <a href="#" class="cust_btn1" data-toggle="modal" data-target="#meet_now_popup_box">Meet Now <i
                        class="fas fa-plus"></i></a>
                <div class=" dropright">
                    <a class="cust_btn2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Schedule Meeting <i class="fas fa-plus"></i>
                    </a>
                    <div class="dropdown-menu">
                        <i class="fas fa-caret-left"></i>
                        <a href="meeting/list.html">Meeting</a>
                        <a href="webinar/list.html">Webinar</a>
                    </div>
                </div>
            </div>
            <div class="nav-box">
                <ul>
                    <li><a href="#" class="active uppcoming-btn">Upcoming <span>0</span></a></li>
                    <li><a href="#" class="history-btn">History <span>0</span></a></li>
                </ul>
            </div>
        </div>
        <div class="right-box">
            <div class="top_content-box">
                <div class="search-box">
                    <input type="search" placeholder="Enter Subject/Meeting ID/Host Device">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="content-box">


                <div class="sm-box without_list_box1">
                    <div class="box">
                        <h4>Welcome to IPVideoTalk</h4>
                        <h5>You have got a free plan, please click <a href="#" data-toggle="modal"
                                data-target="#meet_now_popup_box">"Meet Now"</a> or <a
                                href="meeting/list.html">"Schedule Meeting"</a> to start your meeting now!</h5>
                    </div>
                </div>


                <div class="sm-box2 list_box2 d-none">
                    <div class="box">
                        <div class="cust_col_7">


                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <th class="cust_w_150px">June 23, 2021</th>
                                        <th class="cust_w_100px"></th>
                                        <th>Jacklin's Meeting</th>
                                        <th class="cust_w_100px"></th>
                                        <th class="cust_w_100px"></th>
                                        <th>Expired</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10:35 PM</td>
                                        <td class="cust_w_100px"></td>

                                        <td>Meeting ID: <span class="float-right">137662235</span></td>
                                    </tr>



                                    <tr>
                                        <td class="cust_w_100px"></td>
                                        <td class="cust_w_100px"></td>

                                        <td>Invites ID: <span class="float-right">0</span></td>
                                    </tr>



                                    <tr>
                                        <td class="cust_w_100px"></td>
                                        <td class="cust_w_100px"></td>

                                        <td>Duration: <span class="float-right">1hr</span></td>
                                    </tr>

                                </tbody>
                            </table>

                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <th class="cust_w_150px">June 23, 2021</th>
                                        <th class="cust_w_100px"></th>
                                        <th>Jacklin's Meeting</th>
                                        <th class="cust_w_100px"></th>
                                        <th class="cust_w_100px"></th>
                                        <th>Expired</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10:35 PM</td>
                                        <td class="cust_w_100px"></td>

                                        <td>Meeting ID: <span class="float-right">137662235</span></td>
                                    </tr>



                                    <tr>
                                        <td class="cust_w_100px"></td>
                                        <td class="cust_w_100px"></td>

                                        <td>Invites ID: <span class="float-right">0</span></td>
                                    </tr>



                                    <tr>
                                        <td class="cust_w_100px"></td>
                                        <td class="cust_w_100px"></td>

                                        <td>Duration: <span class="float-right">1hr</span></td>
                                    </tr>

                                </tbody>
                            </table>

                            <table class="w-100">
                                <thead>
                                    <tr>
                                        <th class="cust_w_150px">June 23, 2021</th>
                                        <th class="cust_w_100px"></th>
                                        <th>Jacklin's Meeting</th>
                                        <th class="cust_w_100px"></th>
                                        <th class="cust_w_100px"></th>
                                        <th>Expired</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10:35 PM</td>
                                        <td class="cust_w_100px"></td>

                                        <td>Meeting ID: <span class="float-right">137662235</span></td>
                                    </tr>



                                    <tr>
                                        <td class="cust_w_100px"></td>
                                        <td class="cust_w_100px"></td>

                                        <td>Invites ID: <span class="float-right">0</span></td>
                                    </tr>



                                    <tr>
                                        <td class="cust_w_100px"></td>
                                        <td class="cust_w_100px"></td>

                                        <td>Duration: <span class="float-right">1hr</span></td>
                                    </tr>

                                </tbody>
                            </table>





                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <!-- scan_info -->
    <div class="modal fade comm_popup-box scan_user_info-popup_box" id="scan_user_info_box" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="btn-box">
                        <a href="#"><i class="fas fa-download"></i></a>
                        <a href="#"><i class="fas fa-times"></i></a>
                    </div>

                    <h3><i class="fas fa-users"></i> Jacklin's Meeting</h3>
                    <h3><i class="far fa-clock"></i> Jun 24,2021 10:25AM</h3>
                    <h5>Beijing, Chongqing, Hong Kong SAR, Urumqi</h5>


                    <div class="scan-box">
                        <img src="img/scan_img.png" alt="none" class="img-fluid">
                        <label>Scan to join</label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- scan_info -->

    <!-- share_meeting -->
    <div class="modal fade comm_popup-box share_meeting-popup_box" id="share_meeting_box" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Share Meeting</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="meet_now_form-box">
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mini-box mini-box1">
                                                <label>Subject:</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="mini-box mini-box3">
                                                <label>Jacklin's Meeting</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mini-box mini-box1">
                                                <label>Start Time:</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="mini-box mini-box3">
                                                <label>Jun 24,2021 10:25AM</label>
                                                <p>Beijing, Chongqing, Hong Kong SAR, Urumqi</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mini-box mini-box1">
                                                <label>Organizer:</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="mini-box mini-box3">
                                                <label>Jacklin's (dalianjx@163.com)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mini-box mini-box1">
                                                <label>Meeting ID:</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="mini-box mini-box3">
                                                <label>18777255</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="mini-box mini-box1">
                                                <label>Meeting URL:</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="mini-box mini-box3">
                                                <label><a href="#">https://meetings.ipvideotalk.com/1887725</a> <a
                                                        href="#"><i class="far fa-copy"></i></a></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class=" form-group-btn mt-4">
                                    <a href="#" class="cust_btn2"><i class="far fa-copy"></i> Copy Meeting Info</a>
                                    <a href="#" class="cust_btn2"><i class="fas fa-download"></i> Download Sharing
                                        Pictures</a>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- share_meeting -->




    <!-- meet_now_popup_box -->
    <div class="modal fade comm_popup-box meet_now-popup_box" id="meet_now_popup_box" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Meet Now</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="meet_now_form-box">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label><sup>*</sup>Plan</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="mini-box mini-box2">
                                                <select class="custom-select">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="mini-box mini-box3"> <a href="#" data-toggle="modal"
                                                    data-target="#instant_meeting_template">More Setting</a>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label><sup>*</sup>Subject</label></div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="mini-box mini-box2"> <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="mini-box mini-box3"> <label>Meeting subject cannot be
                                                    empty</label>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label>Password</label></div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="mini-box mini-box2"> <input type="password"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="mini-box mini-box3">
                                                <label>0-8 digits</label>
                                            </div>
                                        </div>
                                    </div>







                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label>Invitees</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="mini-box mini-box2"> <textarea
                                                    placeholder="Separate invites emails with enter or semicolon key"
                                                    class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="mini-box mini-box3"> <label>Invitees are included in the 49
                                                    person limit</label>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="col-12">
                                <div class=" form-group-btn">
                                    <input type="submit" value="Meet now">
                                    <a href="#" data-dismiss="modal">Cancel</a>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- meet_now_popup_box -->

    <!-- Modal -->
    <div class="modal fade comm_popup-box instant_meeting_template-popup_box" id="instant_meeting_template"
        tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Instant Meeting Template</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="meet_now_form-box">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label><sup>*</sup>Plan</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="mini-box mini-box2">
                                                <label>Basic (up to 50)</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="mini-box mini-box3">
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label><sup>*</sup>Subject</label></div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="mini-box mini-box2"> <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="mini-box mini-box3"> <label>1-120 Characters</label>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label><sup>*</sup>Organizer</label></div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mini-box mini-box2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mini-box mini-box2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-12">

                                            <div class="mini-box mini-box2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-12">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label><sup>*</sup>Time Zone:</label></div>
                                        </div>
                                        <div class="col-lg-6 col-12">

                                            <div class="mini-box mini-box2">
                                                <select class="custom-select">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">

                                            <div class="mini-box mini-box2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-12">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label><sup>*</sup>Duration:</label></div>
                                        </div>
                                        <div class="col-lg-6 col-12">

                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="mini-box mini-box2">
                                                        <select class="custom-select">
                                                            <option selected>1</option>
                                                            <option value="1">0</option>
                                                            <option value="2">1</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="mini-box mini-box3">
                                                        <label class="mt-2">hr</label>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="mini-box mini-box2">
                                                        <select class="custom-select">
                                                            <option selected>1</option>
                                                            <option value="1">10</option>
                                                            <option value="2">20</option>
                                                            <option value="2">30</option>
                                                            <option value="2">40</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="mini-box mini-box3">
                                                        <label class="mt-2">min</label>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-3 col-12">

                                            <div class="mini-box mini-box2">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label>Password</label></div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="mini-box mini-box2"> <input type="password"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="mini-box mini-box3">
                                                <label>0-8 digits</label>
                                            </div>
                                        </div>
                                    </div>







                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label>Meeting Settings:</label></div>
                                        </div>
                                        <div class="col-lg-6 col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mini-box mini-box2">
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" id="exampleCheck1">
                                                            <label for="exampleCheck1">Automatic Recording</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mini-box mini-box2">
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" id="exampleCheck2">
                                                            <label for="exampleCheck2">Meeting Locked</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="mini-box mini-box3">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"> <label>Attendee Controls: </label></div>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <div class="row">
                                                <div class="col-lg-4 col-6">
                                                    <div class="mini-box mini-box2">
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" id="exampleCheck3">
                                                            <label for="exampleCheck3">Muted by Host on Entry</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-6">
                                                    <div class="mini-box mini-box2">
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" id="exampleCheck4">
                                                            <label for="exampleCheck4">Play Beep When Attendee
                                                                Joins/Leaves Meeting</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"></div>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <div class="row">
                                                <div class="col-lg-4 col-6">
                                                    <div class="mini-box mini-box2">
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" id="exampleCheck5">
                                                            <label for="exampleCheck5">Display Attendees
                                                                List/Status</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-6">
                                                    <div class="mini-box mini-box2">
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" id="exampleCheck6">
                                                            <label for="exampleCheck6">Allow Chat</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-12">
                                            <div class="mini-box mini-box1"></div>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="mini-box mini-box2">
                                                        <div class="form-group form-check">
                                                            <input type="checkbox" id="exampleCheck7">
                                                            <label for="exampleCheck7">Disable Presentation</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>




                            <div class="col-12">
                                <div class=" form-group-btn">
                                    <input type="submit" value="Save">
                                    <a href="#" data-dismiss="modal">Cancel</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <!-- feed_back -->
    <div class="modal fade comm_popup-box feed_back-popup_box" id="feed_back_box" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="meet_now_form-box">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Please enter your feedback"></textarea>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="custom-file" for="customFile">
                                        <input type="file" class="d-none" id="customFile">
                                        <label><i class="fas fa-cloud-upload-alt"></i> Upload Attachment (Up to 5 can be
                                            uploaded)</label>
                                        <p>( File type: tar, zip, rar, jpg, png, mp4, avi, wav, txt, doc, pdf, gz )</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row create_extra_email_boxes">
                                        <div class="col-12">
                                            <div class="mini-box mini-box1 "> <label class=" float-left"><sup>*</sup>
                                                    Please enter your email address so that we can contact you in
                                                    time.</label></div>
                                        </div>
                                        <div class="col-8">
                                            <div class="mini-box mini-box2">
                                                <input type="email" class="form-control">

                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <a href="#" class="add_email_box-btn"><i class="fa fa-plus"></i> Add</a>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class=" form-group-btn mt-4">
                                    <a href="#" data-dismiss="modal">Cancel</a>
                                    <input type="submit" value="Submit">

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- feed_back -->




</section>