

<section class="banner-part">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/theme/img/banner_img.png" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="../../../assets/theme/img/banner_img2.png" class="d-block w-100" alt="...">

            </div>
            <div class="carousel-item">
                <img src="../../../assets/theme/img/banner_img3.png" class="d-block w-100" alt="...">

            </div>
        </div>

    </div>
</section>




<section class="facilities-part comm_padd">
    <div class="container">
        <div class="content-box">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="box"><img src="../../../assets/theme/img/facilities/img.png" alt="none" class="img-fluid">
                        <h4>Easy-to-Use</h4>
                        <p>Join meetings from Chrome or Firefox browsers with 1-click, no need to download software or
                            plugins</p>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6">
                    <div class="box"><img src="../../../assets/theme/img/facilities/img2.png" alt="none" class="img-fluid">
                        <h4>Flexible Meetings</h4>
                        <p>Attend meetings on any PC, Mac, iOS and Android device. The free IPVideoTalk app can be found
                            in the Google Play Store and Apple App Store</p>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6">
                    <div class="box"><img src="../../../assets/theme/img/facilities/img3.png" alt="none" class="img-fluid">
                        <h4>Sharing</h4>
                        <p>Present and collaborate with your team by sharing computer screens to show presentations,
                            documents, watch videos, review websites and more</p>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6">
                    <div class="box"><img src="../../../assets/theme/img/facilities/img4.png" alt="none" class="img-fluid">
                        <h4>Advanced Features</h4>
                        <p>Industry-leading 1080p Full HD video resolutions for maximum quality and clarity</p>
                    </div>
                </div>


            </div>


        </div>
    </div>
</section>



<section class="additional_resource-part solution_additional_resource-part comm_padd">
    <div class="container">
        <div class="title-box">
            <h3>Vertical Industry Solution Insights</h3>
        </div>
        <div class="content-box">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <img src="../../../assets/theme/img/solution_img/img4.jpg" alt="none" class="img-fluid">
                        <div class="details-box">
                            <h4>Businesses</h4>


                            <ul>
                                <li><i class="fas fa-check"></i> Allow remote teams to meet instantly anywhere, any time
                                </li>
                                <li><i class="fas fa-check"></i> Hold powerful video meetings with clients and customers
                                </li>
                                <li><i class="fas fa-check"></i> Attend meetings on nearly any device with no plugins
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>




                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <img src="../../../assets/theme/img/solution_img/img5.jpg" alt="none" class="img-fluid">
                        <div class="details-box">
                            <h4>Medical</h4>


                            <ul>
                                <li><i class="fas fa-check"></i> Allow remote teams to meet instantly anywhere, any time
                                </li>
                                <li><i class="fas fa-check"></i> Hold powerful video meetings with clients and customers
                                </li>
                                <li><i class="fas fa-check"></i> Attend meetings on nearly any device with no plugins
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>




                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <img src="../../../assets/theme/img/solution_img/img6.jpg" alt="none" class="img-fluid">
                        <div class="details-box">
                            <h4>Education</h4>


                            <ul>
                                <li><i class="fas fa-check"></i> Allow remote teams to meet instantly anywhere, any time
                                </li>
                                <li><i class="fas fa-check"></i> Hold powerful video meetings with clients and customers
                                </li>
                                <li><i class="fas fa-check"></i> Attend meetings on nearly any device with no plugins
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>





                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <img src="../../../assets/theme/img/solution_img/img7.jpg" alt="none" class="img-fluid">
                        <div class="details-box">
                            <h4>Personal Training</h4>


                            <ul>
                                <li><i class="fas fa-check"></i> Allow remote teams to meet instantly anywhere, any time
                                </li>
                                <li><i class="fas fa-check"></i> Hold powerful video meetings with clients and customers
                                </li>
                                <li><i class="fas fa-check"></i> Attend meetings on nearly any device with no plugins
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>




                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <img src="../../../assets/theme/img/solution_img/img8.jpg" alt="none" class="img-fluid">
                        <div class="details-box">
                            <h4>Government</h4>


                            <ul>
                                <li><i class="fas fa-check"></i> Allow remote teams to meet instantly anywhere, any time
                                </li>
                                <li><i class="fas fa-check"></i> Hold powerful video meetings with clients and customers
                                </li>
                                <li><i class="fas fa-check"></i> Attend meetings on nearly any device with no plugins
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>




                <div class="col-lg-4 col-md-6">
                    <div class="box">
                        <img src="../../../assets/theme/img/solution_img/img9.jpg" alt="none" class="img-fluid">
                        <div class="details-box">
                            <h4>Customer Service</h4>


                            <ul>
                                <li><i class="fas fa-check"></i> Allow remote teams to meet instantly anywhere, any time
                                </li>
                                <li><i class="fas fa-check"></i> Hold powerful video meetings with clients and customers
                                </li>
                                <li><i class="fas fa-check"></i> Attend meetings on nearly any device with no plugins
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>




            </div>

            <div class="btn-box text-center mt-4">
                <a routerLink="/signup">Sign Up for Free</a>
            </div>
        </div>
    </div>
</section>



